@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-up,
.arrow-down {
  display: none;
}

.table-cell:hover .arrow-up,
.table-cell:hover .arrow-down {
  display: inline-block;
}

.arrow-up {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.arrow-down {
  position: absolute;
  margin-left: 10px;
  margin-top: 6px;
  cursor: pointer;
}